<div
  class="rounded-sm border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1"
>
  <div class="max-w-full overflow-x-auto">
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-2 text-left dark:bg-meta-4">
          <th
            class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white"
          >
            Hari/Tanggal
          </th>

          <th
            class="min-w-[120px] py-4 px-4 font-medium text-black dark:text-white"
          >
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="text-black dark:text-white">
              Senin, 17 Agustus 2023 08:00
            </p>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p
              class="inline-flex rounded-full bg-success bg-opacity-10 py-1 px-3 text-sm font-medium text-success"
            >
              Berhasil
            </p>
          </td>
        </tr>
        <tr>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="text-black dark:text-white">
              Senin, 17 Agustus 2023 08:00
            </p>
          </td>

          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p
              class="inline-flex rounded-full bg-danger bg-opacity-10 py-1 px-3 text-sm font-medium text-danger"
            >
              Batal
            </p>
          </td>
        </tr>
        <tr>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="text-black dark:text-white">
              Senin, 17 Agustus 2023 08:00
            </p>
          </td>

          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p
              class="inline-flex rounded-full bg-primary bg-opacity-10 py-1 px-3 text-sm font-medium text-primary"
            >
              Aktif
            </p>
          </td>
        </tr>
        <tr>
          <td class="py-5 px-4">
            <p class="text-black dark:text-white">
              Senin, 17 Agustus 2023 08:00
            </p>
          </td>
          <td class="py-5 px-4">
            <p
              class="inline-flex rounded-full bg-warning bg-opacity-10 py-1 px-3 text-sm font-medium text-warning"
            >
              Pending
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
